@model Lesson[]

<div class="bottom-card">
    <div class="row">
       @for (int i = 0; i < Model.Length; i++)
        {
            if (Model[i] != null)
            {
                <div class="col-sm-6">
                    <div class="card h-100 text-decoration-none">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-info">@(i == 0 ? "Previous lesson" : "Next lesson")</h5>
                            <strong class="text-primary fw-semibold">
                               @Model[i].Title
                            </strong>
                            <p class="card-text text-secondary">
                                @(Model[i].Information.Length > 30 ? Model[i].Information.Substring(0, 30) + "..." : Model[i].Information)
                            </p>
                            <a asp-action="Lesson" asp-controller="Home" asp-route-lessonId="@Model[i].Id"  class="btn btn-primary" role="button">Go over</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>