@model IEnumerable<Blog>
<div class="container news mb-3">
    <div class="container px-4 py-3 bg-light" id="custom-cards">
        <h2>News and publications</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            @foreach (var blog in Model)
            {
                <div class="col">
                    <a asp-action="Blog" asp-controller="Home" asp-route-blogId="@blog.Id">
                        <div class="card custom-card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                             style="
                    background-image: url('@blog.Image');
                    background-size: cover;
                    background-position: center;
                      ">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <h2 class="pt-5 mt-5 mb-4 lh-1 fw-bold news-caption">
                                   @(blog.Name.Length > 55 ? blog.Name.Substring(0, 55) + "..." : blog.Name)
                                </h2>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="me-auto">
                                        <img src="assets/img/CA.png"
                                             alt="CA"
                                             width="32"
                                             height="32"
                                             class="rounded-circle border border-white" />
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <small>@blog.DateOfPublication.ToShortDateString()</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            }    
          
        </div>
    </div>
</div>