@using CourseAcademyProject.Models.Test
@model Test


        <div class="card custom-card border-bottom-0 border-start-0 border-end-0 border-top border-5 border-info border-teal lift">
            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center  shadow rounded-circle mx-auto mb-3" style="width: 80px; height: 80px;">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                </div>
                <h5 class="card-title text-center">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
            </div>
            <div class="card-footer bg-light">
                <div class="text-teal fw-bold d-inline-flex align-items-center">
                    View test
                    <i class="fa-solid fa-arrow-right ms-2"></i>
                </div>
            </div>
    </div>
