@using CourseAcademyProject.ViewModels
@{
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}
@model ResetPasswordViewModel

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Password settings</li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->

   
    <h6>PASSWORD SETTINGS</h6>
    <hr>
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <i class="fa-solid fa-envelope"></i>
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" readonly/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="text-end me-3 mt-3">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">
                <span>Reset Password</span>
            </button>
        </div>
    </form>
    