@using CourseAcademyProject.ViewModels
@model RequestForResetViewModel

@{
    ViewData["Title"] = "Password reset";
}


    <div class="container pt-5">
    <div class="row justify-content-center pt-2">
            <div class="col-md-4 md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">

                                <form asp-controller="Account" asp-action="ForgotPassword" method="post">

                                    <div class="form-group">
                                    <i class="fa-solid fa-envelope"></i>
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mt-2">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-primary">
                                            <span>Reset Password</span>
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


@await Html.PartialAsync("_ValidationScriptsPartial")
