@{
    ViewData["Title"] = "Confirming password reset";
}

<div class="container-full pt-5">
    <div class="row justify-content-center">
        <div class="col-sm-4 mt-5">
            <div class="card">
                <div class="card-header">
                    Confirming password reset
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0" >
                        <p>The password has been restored. Please, <a asp-action="Login" asp-controller="Account">log in.</a></p>
                        <footer class="blockquote-footer text-end">Back to the main page <cite title="Source Title"><a asp-action="Index" asp-controller="Home">Return</a></cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
